@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.main-header{
  text-align: center;
  width: 100%;
}
h1, p,
a {
  color: white;
}

.list-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

#rooms-container {
  background-color: #ccc;
  border-radius: 25px;
  /* More rounded edges */
  max-height: 80vh;
  width: 75%;
  margin-inline: auto;
  overflow-y: auto;
}

#rooms-container a {
  color: Black;
}

#create-room {
  float: right;
}

#toolbar {
  height: 5vh;
  width: 100%;
  margin-inline: auto;
}

#toolbar * {
  height: 100%;
}

/* Button Styles */
/* Button Styles */
.button {
  background-color: #ffffff;
  /* White background for contrast */
  color: #000000;
  /* Black text */
  padding: 8px 16px;
  border: 2px solid #000000;
  /* White border */
  border-radius: 25px;
  /* More rounded edges */
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #ffca28;
  /* Gold color on hover */
  color: #000000;
  border-color: #ffca28;
}

.button:active {
  background-color: #f57c00;
  /* Darker shade of orange for active state */
  border-color: #f57c00;
  color: #ffffff;
  /* White text on active */
}

/* Optional: Full-width button for responsive design */
.button.full-width {
  width: 100%;
}

#search {
  border-radius: 20px;
  width: fit-content;
  padding-left: 10px;
  /* More rounded edges */
}

app-create-room{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  align-content: center;
  animation: fadeIn 0.8s;
}