<main>
  <div id="toolbar">
    <input type="text" (input)="search(searchInput.value)" #searchInput id="search" placeholder="find room...">
    <button (click)="openCloseMenu()" class="button" id="create-room">create a room</button>
  </div>
  <h1 class="main-header">watch with friends!</h1>
  <div id="rooms-container">
    @for(item of (itemsSearch | async); track $index){
      <div class="list-item">
        <a [routerLink]="getRoomsRoute(item.id)">{{ item.name }}</a>
      </div>
    }
  </div>
  @if(menuOpened){
    <app-create-room (roomEvent)="openCloseMenu()"></app-create-room>
  }
</main>